<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437537205054-k7m829nufo1cn54r19d821ae88122q7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437537205054-k7m829nufo1cn54r19d821ae88122q7t</string>
	<key>API_KEY</key>
	<string>AIzaSyDyLtCjsao3kR3H_vCaE-MsLv-WWHGhLKo</string>
	<key>GCM_SENDER_ID</key>
	<string>437537205054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentatouille</string>
	<key>PROJECT_ID</key>
	<string>rentatouille-768fd</string>
	<key>STORAGE_BUCKET</key>
	<string>rentatouille-768fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437537205054:ios:0fac995df24ded761e9a6f</string>
</dict>
</plist>